<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,td,tr{
        border-collapse: collapse;
    }
</style>
<body>
    <h1>My Shop</h1>
    <table border="1">
        <thead>
        <th>Product</th>
        <th>price</th>
        <th>quantity</th>
        </thead>
        <tbody>
            <tr>
                <td>Headphone</td>
                <td>430</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Charger</td>
                <td>230</td>
                <td>2</td>
            </tr><tr>
                <td>1</td>
                <td>niks</td>
                <td>8859158123</td>
            </tr>
        </tbody>
    </table>
    <a href='form'>Add Order</a>
</body>
</html>