<style>
    body {
        background-image: url('https://cdn.pixabay.com/photo/2015/03/22/17/28/rings-684944_960_720.jpg');
        background-size: cover;
        }
    .login_form {
        position: relative;
        top: 70%;
    }
</style>
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <form class="login_form" action="" method="post">
                {% csrf_token %}
                Username <input type="text" class="form-control" name="username">
                Password <input type="password" class="form-control mb-2" name="password">
                <button type="submit" class="btn btn-block btn-primary">Login</button>

                {% for msg in messages %}
                {{msg}}
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}