{% extends 'home.html' %}

{% block content %}
<div class="container">
    <div class="about">
        <div class="row">
            <div class="col-md-8">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui dignissimos repellendus,
                    nisi incidunt vel. Molestiae, iste rerum ducimus porro corrupti, voluptates eaque impedit voluptate
                    in deleniti vero similique exercitationem?</p>
            </div>
            <div class="col-md-4">
                <img src="static/about.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}