{% extends 'home.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="contact_us">
        <p>Phone: <i class="far fa-call"></i> +91 8859158123</p>
        <p>Email: <i class="far fa-envelope"></i> shubham247341@gmail.com</p>
        <p>Address: <i class="far fa-address-card"></i> Vill-Umarpur, <br> Dist-Saharanpur</p>
      </div>
    </div>
    <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9194.76400013162!2d77.15747606881054!3d29.74591989609602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e62e918748603%3A0x5bfdbf81e6630d6c!2sUmarpur%2C%20Uttar%20Pradesh%20247341!5e0!3m2!1sen!2sin!4v1644115559776!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
{% endblock content %}