{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      
        <form action="" method="post">
            {% csrf_token %}
            {{form.name | as_crispy_field}}
            {{form.people | as_crispy_field}}
            {{form.date | as_crispy_field}}
            {{form.event | as_crispy_field}}
            {{form.address | as_crispy_field}}
            <button type="submit">Update</button>
            {% for msg in messages %}
                {{msg}}
            {% endfor %}
        </form>
        
    </div>
  </div>
</div>
{% endblock content %}